.image_cat {
    width: 550px;
    height: 350px;
    /*margin-top: 50px;*/
}

.contact_block {
    position: absolute;
    right: 40px;
    opacity: 0;
    animation: fade-in 0.5s ease-in-out forwards;
    bottom: -400px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.socialIcons {
    position: absolute;
    top: 35px;
    left: -125px;
}

.iconViber {
    width: 40px;
    height: 40px;
    position: absolute;
    margin-left: 260px;
    margin-top: 200px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.iconWhatsUp {
    width: 40px;
    height: 40px;
    position: absolute;
    margin-left: 295px;
    margin-top: 200px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.iconTelegram {
    width: 40px;
    height: 40px;
    position: absolute;
    margin-left: 330px;
    margin-top: 200px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.closeIcon {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 50px;
    /*margin-left: 480px;*/
    cursor: pointer;
    z-index: -1;
    background-color: transparent;
    border: none;
}

.transparentButton {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 50px;
    top: 131px;
    background-color: rgba(255, 255, 255, 0);
    border: none
}

.iconViber:hover {
    width: 55px;
    height: 55px;
    margin-left: 255px;
}

.iconWhatsUp:hover {
    width: 55px;
    height: 55px;
    margin-left: 290px;
}

.iconTelegram:hover {
    width: 55px;
    height: 55px;
    margin-left: 320px;
}

.closeIcon:hover {
    z-index: auto;
}

@media (max-width: 1032px) and (min-width: 481px) {
    .contact_block {
        bottom: -200px; /* Reduced from -400px but still below the page to leave room for the cat */
    }
}