.container_page {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
    position: relative;
}
.container_boxes {
    margin-left: 60px;
}
.title {
    font-size: 64px;
    font-weight: 400;
    line-height: 76px;
}


@media (max-width: 1032px) and (min-width: 481px) {
    .container_boxes {
        margin-left: 0px;
    }
    .title {
        font-size: 44px;
        line-height: 52px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
    }
}
@media (max-width: 480px) {
    .container_boxes {
        margin-left: 0px;
    }
    .title {
        font-size: 21px;
        line-height: 25px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: -25px;
        padding-bottom: 25px;
    }
}

@media (max-width: 430px) {
    .container_boxes {
        margin-left: 0px;

    }
    .title {
        font-size: 21px;
        line-height: 25px;
        margin-left: 140px;
        margin-top: -25px;
        padding-bottom: 25px;
        text-align: left;
    }
}

@media (max-width: 414px) {
    .container_boxes {
        margin-left: 0px;

    }
    .title {
        font-size: 21px;
        line-height: 25px;
        margin-left: 120px;
        margin-top: -25px;
        padding-bottom: 25px;
        text-align: left;
    }
}
@media (max-width: 375px) {
    .title {
        margin-left: 110px;
        text-align: left;
    }
}

