.container {
    width: 100%;
    min-height: 893px;
    background: #8416FB;

}
.mainText {
    padding-top: 50px;
    font-weight: 400;
    font-size: 89px;
    line-height: 107px;
    color: black;
    display: flex;
    justify-content: center;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item {
    flex: 0 1 calc(100%/4 - 20px*2);
}
.itemBox {
    width: 100%;
    text-align: center;
}
.itemBox img {
   /* width: 250px;*/
    height: 170px;
}

@media (max-width: 1032px) and (min-width: 481px) {
  .container { min-height: 480px; }
  .mainText { padding-top: 26.9px; font-size: 47.8px; line-height: 57.5px; }
  .itemBox img { height: 91.4px; }
}
@media (max-width: 960px) and (min-width: 481px) {
  .container { min-height: 446.5px; }
  .mainText { padding-top: 25px; font-size: 44.5px; line-height: 53.5px; }
  .itemBox img { height: 85px; }
}
@media (max-width: 768px) and (min-width: 481px) {
  .container { min-height: 357.2px; }
  .mainText { padding-top: 20px; font-size: 35.6px; line-height: 42.8px; }
  .itemBox img { height: 68px; }
}

@media (max-width: 480px) {
    .mainText {
        font-size: 27px;
        line-height: 33px;
    }
}

@media (max-width: 430px) {
    .mainText {
        font-size: 27px;
        line-height: 33px;
    }
}

@media (max-width: 414px) {
    .mainText {
        font-size: 27px;
        line-height: 33px;
    }
}