.container_page {
    width: 100%;
    min-height: 100%;
    position: relative;
}
.container_boxes {
    margin-left: 60px;

}
.title {
    font-size: 64px;
    font-weight: 400;
    line-height: 76px;
}

.boxes_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: -47px;
}

.box {
    width: 356px;
    height: 338px;
    border: 1px solid #b4b0b0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.text {
    width: 300px;
    font-weight: 400;
    text-align: center;
    font-size: 24px;
    line-height: 28.77px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.image_style {
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 48px;
    height: 45px;
}
.image_cat {
    width: 750px;
    height: 290px;
    margin-top: 50px;
}
.no_background {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: -300px;
    right: 90px;
    height: 300px;
}
.imageBlock {
    position: absolute;
    z-index: -1;
    opacity: 0.2;
}
.imageBlockEnter {
    position: absolute;
}
.button {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

@media (max-width: 480px) {
    .container_boxes {
        margin-left: 0px;
    }
    .title {
        font-size: 21px;
        line-height: 25px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: -25px;
        padding-bottom: 25px;
    }
}

@media (max-width: 430px) {
    .container_boxes {
        margin-left: 0px;

    }
    .title {
        font-size: 21px;
        line-height: 25px;
        margin-left: 120px;
        margin-top: -25px;
        padding-bottom: 25px;
        text-align: left;
    }
}

@media (max-width: 414px) {
    .container_boxes {
        margin-left: 0px;

    }
    .title {
        font-size: 21px;
        line-height: 25px;
        margin-left: 120px;
        margin-top: -25px;
        padding-bottom: 25px;
        text-align: left;
    }
}
@media (max-width: 375px) {
    .title {
        margin-left: 110px;
        text-align: left;
    }
}

/*@media screen and (max-width: 670px) {*/
/*    .no_background {*/
/*        position: static;*/
/*        background-color: transparent;*/
/*        border: none;*/
/*        cursor: pointer;*/
/*    }*/
/*}*/

