.container {
    width: 100%;
    height: 1800px;
    background-color: black;
    position: relative;
    overflow: hidden;
}

.styleText {
    font-size: 21px;
    font-weight: 400;
    display: inline-block;
    line-height: 25px;
    margin-bottom: 50px;
    color: white;
}

.title {
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    color: white;
}

.posterStyle {
    background-color: transparent;
    margin-left: 0;
    z-index: 0;
    position: absolute;
    top: 0;
}

.textBlock {
    width: 796px;
    height: 1375px;
    position: absolute;
    right: 3%;
}

.infoBlock {
    display: flex;
}

.block {
    display: flex;
}

.vectorStyle {
    margin-left: 30px;
    margin-top: 50px
}

.textStyle {
    color: white;
    position: absolute;
    left: 3%;
    z-index: 1;
}

.textTest {
    font-size: 30px;
    line-height: 36px;
}

.textTest:last-child {
    color: rgba(69, 248, 250, 1);
}

.text1 {
    top: 1440px;
}

.text2 {
    top: 1480px;
}

.text3 {
    top: 1520px;
}

.colorTextBlock {
    /*width: 500px;*/
}

@media (max-width: 480px) {
    .posterStyle {
        width: 320px;
        height: 500px;
    }

    .textBlock {
        width: 348px;
        height: 570px;
        margin-top: 350px;
        position: absolute;
        left: 30%;
    }

    .title {
        font-size: 28px;
        line-height: 33px;
    }

    .vectorStyle {
        width: 27px;
        height: 34px;
    }

    .styleText {
        font-size: 9px;
        font-weight: 400;
        display: inline-block;
        line-height: 10px;
        margin-bottom: 20px;
        color: white;
    }

    .block {
        margin-top: -415px;
        margin-left: 30px;
        padding-bottom: 350px;
    }

    .vectorStyle {
        margin-left: 15px;
        margin-top: 17px
    }

    .textTest {
        font-size: 12px;
        line-height: 18px;
    }

    .colorTextBlock {
        position: absolute;
        top: -1135px;
        margin-left: 115px;
        font-size: 8px;
        z-index: 0;
    }

    .text1 {
        transform: rotate(-90deg);
        width: 300px;
        top: 1400px;
        margin-left: 200px;
    }

    .text2 {
        transform: rotate(-90deg);
        width: 500px;
        margin-left: 115px;
        top: 1300px;
    }

    .text3 {
        transform: rotate(-90deg);
        width: 500px;
        margin-left: 130px;
        top: 1300px;
    }

    .container {
        height: 1300px;
        background-color: black;
    }
}

@media (max-width: 430px) {
    .posterStyle {
        width: 320px;
        height: 500px;
    }

    .textBlock {
        width: 796px;
        height: 1375px;
        position: absolute;
        left: 10px;
    }

    .title {
        font-size: 28px;
        line-height: 33px;
    }

    .vectorStyle {
        width: 27px;
        height: 34px;
    }

    .styleText {
        font-size: 9px;
        font-weight: 400;
        display: inline-block;
        line-height: 10px;
        margin-bottom: 20px;
        color: white;
    }

    .textBlock {
        width: 348px;
        height: 570px;
        margin-top: 350px;
        position: absolute;
        left: 30%;
    }

    .block {
        margin-top: -415px;
        margin-left: 30px;
        padding-bottom: 350px;
    }

    .vectorStyle {
        margin-left: 15px;
        margin-top: 17px
    }

    .textTest {
        font-size: 12px;
        line-height: 18px;
    }

    .colorTextBlock {
        position: absolute;
        top: -1135px;
        margin-left: 115px;
        font-size: 8px;
        z-index: 0;
    }

    .text1 {
        transform: rotate(-90deg);
        width: 300px;
        top: 1400px;
        margin-left: 200px;
    }

    .text2 {
        transform: rotate(-90deg);
        width: 500px;
        margin-left: 115px;
        top: 1300px;
    }

    .text3 {
        transform: rotate(-90deg);
        width: 500px;
        margin-left: 130px;
        top: 1300px;
    }

    .container {
        height: 1300px;
        background-color: black;
    }
}

@media (max-width: 414px) {
    .posterStyle {
        width: 320px;
        height: 600px;
    }

    .textBlock {
        width: 796px;
        height: 1375px;
        position: absolute;
        left: 10px;
    }

    .title {
        font-size: 28px;
        line-height: 33px;
    }

    .vectorStyle {
        width: 27px;
        height: 34px;
    }

    .styleText {
        font-size: 9px;
        font-weight: 400;
        display: inline-block;
        line-height: 10px;
        margin-bottom: 20px;
        color: white;
        text-align: right;
    }

    .textBlock {
        width: 370px;
        height: 570px;
        margin-top: 350px;
        position: absolute;
        left: 21%;
    }

    .block {
        margin-top: -400px;
        margin-left: 30px;
        padding-bottom: 380px;
    }

    .vectorStyle {
        margin-left: 15px;
        margin-top: 17px
    }

    .textTest {
        font-size: 12px;
        line-height: 18px;
    }

    .colorTextBlock {
        position: absolute;
        top: -1135px;
        margin-left: 115px;
        font-size: 8px;
        z-index: 0;
    }

    .text1 {
        transform: rotate(-90deg);
        width: 300px;
        top: 1400px;
        margin-left: 182px;
    }

    .text2 {
        transform: rotate(-90deg);
        width: 500px;
        margin-left: 97px;
        top: 1300px;
    }

    .text3 {
        transform: rotate(-90deg);
        width: 500px;
        margin-left: 110px;
        top: 1300px;
    }

    .container {
        height: 1350px;
        background-color: black;
    }
}

@media (max-width: 393px) {
    .container {
        width: 100%;
        height: 1350px;
        background-color: black;
    }

    .textBlock {
        left: 16%;
        width: 370px;
        margin-top: 340px;
    }

    .styleText {
        font-size: 10px;
    }

    .text1 {
        transform: rotate(-90deg);
        width: 300px;
        top: 1400px;
        margin-left: 150px;
    }

    .block {
        margin-left: 60px;
    }

    .text2 {
        margin-left: 80px;
    }

    .text3 {
        transform: rotate(-90deg);
        width: 500px;
        margin-left: 65px;
        top: 1300px;
    }
}

@media (max-width: 375px) {
    .posterStyle {
        width: 320px;
        height: 500px;
    }

    .textBlock {
        width: 796px;
        height: 1375px;
        position: absolute;
        left: 10px;
    }

    .title {
        font-size: 28px;
        line-height: 33px;
    }

    .vectorStyle {
        width: 27px;
        height: 34px;
    }

    .styleText {
        font-size: 9px;
        font-weight: 400;
        display: inline-block;
        line-height: 10px;
        margin-bottom: 20px;
        color: white;
    }

    .textBlock {
        width: 348px;
        height: 570px;
        margin-top: 350px;
        position: absolute;
        left: 18%;
    }

    .block {
        margin-top: -415px;
        margin-left: 70px;
        padding-bottom: 350px;
    }

    .vectorStyle {
        margin-left: 15px;
        margin-top: 17px
    }

    .textTest {
        font-size: 12px;
        line-height: 18px;
    }

    .colorTextBlock {
        position: absolute;
        top: -1135px;
        margin-left: 115px;
        font-size: 8px;
        z-index: 0;
    }

    .text1 {
        transform: rotate(-90deg);
        width: 300px;
        top: 1400px;
        margin-left: 137px;
    }

    .text2 {
        transform: rotate(-90deg);
        width: 500px;
        margin-left: 50px;
        top: 1300px;
    }

    .text3 {
        transform: rotate(-90deg);
        width: 500px;
        margin-left: 63px;
        top: 1300px;
    }

    .container {
        height: 1300px;
        background-color: black;
    }
}

@media (max-width: 360px) {
    .textBlock {
        left: 15%;
    }

    .text1 {
        margin-left: 105px;
    }

    .text2 {
        margin-left: 25px;
    }

    .text3 {
        margin-left: 45px;
    }
}