.container {
    width: 100%;
    min-height: 892px;
    background-color: #000000;
    z-index: 999;
    position: relative;
}

.textContainer {
    width: 323px;
    height: 628px;
    left: 358px;
    position: absolute;
    color: white;
    margin-top: 140px
}

.textBlock {
    display: flex;
    flex-direction: column;
    width: 323px;
    height: 628px;
}

.spanText {
    width: 260px;
    font-family: custom-font-second;
    font-weight: 400;
    font-size: 100px;
    line-height: 100px;
}

.spanTextDouble {
    font-family: custom-font-second;
    font-weight: 400;
    font-size: 100px;
    line-height: 100px;
}

.block {
    margin-left: -300px;
}

.imageConnected {
    position: absolute;
    margin-top: 730px;
    margin-left: 710px
}

@media (max-width: 480px) {
    .container {
        min-height: 675px;
        background-color: #000000;
        z-index: 0;
    }

    .textContainer {
        left: 37px;
        margin-top: 15px;
    }

    .block {
        margin-left: 0px;
        margin-top: 290px;
    }

    .imageCreative {
        width: 200px;
        height: min-content;
    }

    .spanText {
        font-weight: 400;
        font-size: 50px;
        line-height: 60px;
    }

    .spanTextDouble {
        font-size: 50px;
        line-height: 60px;
    }

    .imageConnected {
        margin-top: 500px;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-left: 0;
    }

    .imageConnectedStyle {
        width: 200px;
        height: 50px;
    }
}

@media (max-width: 430px) {
    .container {
        /*width: 375px;*/
        min-height: 675px;
        background-color: #000000;
        z-index: 0;
    }

    .textContainer {
        left: 37px;
        margin-top: 15px;
    }

    .block {
        margin-left: 0px;
        margin-top: 290px;
    }

    .imageCreative {
        width: 200px;
        height: min-content;
    }

    .spanText {
        font-weight: 400;
        font-size: 50px;
        line-height: 60px;
    }

    .spanTextDouble {
        font-size: 50px;
        line-height: 60px;
    }
}

@media (max-width: 414px) {
    .container {
        /*width: 375px;*/
        min-height: 675px;
        background-color: #000000;
    }

    .textContainer {
        left: 37px;
        margin-top: 15px;
    }

    .block {
        margin-left: 0px;
        margin-top: 290px;
    }

    .imageCreative {
        width: 200px;
        height: min-content;
    }

    .spanText {
        font-weight: 400;
        font-size: 65px;
        line-height: 60px;
    }

    .spanTextDouble {
        font-size: 50px;
        line-height: 60px;
    }
}

@media (max-width: 375px) {
    .imageConnected {
        margin-top: 500px;
    }
}

@media (max-width: 360px) {
    .container {
        min-height: 675px;
    }
    .imageConnected {
        margin-top: 500px;
    }
}