.container_page {
    width: 100%;
    min-height: 100%;
    padding-bottom: 50px;
    position: relative;
}
.container_boxes {
    margin-left: 60px;
}
.title {
    font-size: 64px;
    font-weight: 400;
    line-height: 76px;
}

@media (max-width: 480px) {
    .container_boxes {
        margin-left: 0px;
    }
    .title {
        font-size: 21px;
        line-height: 25px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: -25px;
        padding-bottom: 25px;
    }
}

@media (max-width: 430px) {
    .container_boxes {
        margin-left: 0px;

    }
    .title {
        font-size: 21px;
        line-height: 25px;
        margin-left: 200px;
        margin-top: -25px;
        padding-bottom: 25px;
        text-align: left;
    }
}

@media (max-width: 414px) {
    .container_boxes {
        margin-left: 0px;

    }
    .title {
        font-size: 21px;
        line-height: 25px;
        margin-left: 190px;
        margin-top: -25px;
        padding-bottom: 25px;
        text-align: left;
    }
}

@media (max-width: 390px) {
    .title {
        margin-left: 170px;
        text-align: left;
    }
}

@media (max-width: 375px) {
    .title {
        margin-left: 160px;
        text-align: left;
    }
}
@media (max-width: 360px) {
    .title {
        margin-left: 155px;
        text-align: left;
    }
}

