.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    list-style: none;
    margin-right: 50px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20.91px;
    font-weight: bold;
    line-height: 25.07px;
    margin-top: 30px;
    text-decoration: none;
    align-items: center;
    z-index: 999;
}

.button {
    border: 0;
    border-radius: 30px;
    background: #34eed9;
    color: #070707;
    padding: 8px 16px;
    margin-bottom: 20px;
    text-decoration: none;
    margin-top: -12px;
    cursor: pointer;
}

.nav__link {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color 0.4s;
    text-decoration: none;
    cursor: pointer;
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

@media screen and (min-width: 1150px) {
    .nav__list {
        flex-direction: row;
        column-gap: 2.5rem;
    }
}

@media (max-width: 480px) {
    .nav__list {
        margin-top: 200px;
        color: white;
    }
    li:nth-child(1) {
        margin-left: -70px;
    }

    li:nth-child(3) {
        margin-left: -60px
    }

    li:nth-child(4) {
        margin-left: -23px
    }
}

@media (max-width: 430px) {
    .nav__list {
        margin-top: 200px;
        color: white;
    }
    li:nth-child(1) {
        margin-left: -70px;
    }

    li:nth-child(3) {
        margin-left: -60px
    }

    li:nth-child(4) {
        margin-left: -23px
    }
}
