.container {
    position: relative;
    width: 100%;
    min-height: 1080px;
    overflow: hidden;
}

.image1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1080px;
}

.image2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1080px;
    opacity: 0.2;
    object-fit: cover
}
.image2Container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1080px;
    background-color: #8416FB;
}
.imageCLientContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(92, 92, 92, 0.8) 100%);

}

.overlayContent {
    position: relative;
    z-index: 1000;
}

@media (max-width: 480px) {
    .container {
        min-height: 852px;
    }
    .image1 {
        height: 852px;
    }
    .image2 {
        height: 852px;
    }
    .image2Container {
        height: 852px;
    }
}

@media (max-width: 430px) {
    .container {
        min-height: 852px;
    }
    .image1 {
        height: 852px;
    }
    .image2 {
        height: 852px;
    }
    .image2Container {
        height: 852px;
    }
}

@media (max-width: 414px) {
    .container {
        min-height: 852px;
    }
    .image1 {
        height: 852px;
    }
    .image2 {
        height: 852px;
    }
    .image2Container {
        height: 852px;
    }
}
@media (max-width: 375px) {
    .container {
        min-height: 852px;
    }
    .image1 {
        height: 852px;
    }
    .image2 {
        height: 852px;
    }
    .image2Container {
        height: 852px;
    }
}