.container {
    width: 100%;
    height: 100%;
}

.mainText {
    font-weight: 400;
    font-size: 89px;
    line-height: 107px;
    color: black;
    display: flex;
    justify-content: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 120px;
}

.item {
    flex: 0 1 calc(100% / 5);
}

.itemBox {
    width: 250px;
    height: 250px;
    text-align: center;
}

.itemBox img {
    width: 100%;
    /* Задаем фиксированную ширину */
    height: 100%;
    /* Задаем фиксированную высоту */
}

.item:nth-child(7) {
    margin-top: 30px;
}

@media (max-width: 1032px) and (min-width: 481px) {
  .mainText { font-size: 47.8px; line-height: 57.5px; }
  .gallery { margin-left: 64.5px; }
  .itemBox { width: 134.4px; height: 134.4px; }
  .item:nth-child(7) { margin-top: 16.1px; }
}
@media (max-width: 960px) and (min-width: 481px) {
  .mainText { font-size: 44.5px; line-height: 53.5px; }
  .gallery { margin-left: 60px; }
  .itemBox { width: 125px; height: 125px; }
  .item:nth-child(7) { margin-top: 15px; }
}
@media (max-width: 768px) and (min-width: 481px) {
  .mainText { font-size: 35.6px; line-height: 42.8px; }
  .gallery { margin-left: 48px; }
  .itemBox { width: 100px; height: 100px; }
  .item:nth-child(7) { margin-top: 12px; }
}

@media (max-width: 480px) {
    .mainText {
        font-size: 27px;
        line-height: 33px;
    }

    .item {
        flex: 0 1 calc(100%/3);
    }

    .itemBox {
        width: 150px;
        height: 120px;
    }

    .gallery {
        margin-left: 16px;
    }

    .item:nth-child(7) {
        margin-top: 15px;
    }
}

@media (max-width: 430px) {
    .mainText {
        font-size: 27px;
        line-height: 33px;
    }

    .item {
        flex: 0 1 calc(100%/3);
    }

    .itemBox {
        width: 150px;
        height: 120px;
    }

    .gallery {
        margin-left: 16px;
    }

    .item:nth-child(7) {
        margin-top: 15px;
    }
}

@media (max-width: 414px) {
    .mainText {
        font-size: 27px;
        line-height: 33px;
    }

    .item {
        flex: 0 1 calc(100%/3);
    }

    .itemBox {
        width: 150px;
        height: 120px;
    }

    .gallery {
        margin-left: 16px;
    }

    .item:nth-child(7) {
        margin-top: 15px;
    }
}

@media (max-width: 393px) {
    .itemBox {
        width: 140px;
        height: 120px;
    }

    .item {
        flex: 0 1 calc(300px/3);
    }

    .gallery {
        align-items: center;
        margin-left: 30px;
    }
}

@media (max-width: 375px) {
    .itemBox {
        width: 130px;
        height: 120px;
    }

    .item {
        flex: 0 1 calc(300px/3);
    }

    .gallery {
        align-items: center;
        margin-left: 30px;
    }
}