.nav__logo {
    color: var(--first-color);
    transition: color 0.4s;
    font-size: var(--h2-font-size);
    font-family: var(--second-font);
    margin-top: 10px;
    margin-left: 50px;
    cursor: pointer;
    z-index: 1;
}
.style_logo {
    width: 271px;
    height: 82px;
}

@media (max-width: 480px) {
    .nav__logo {
        z-index: 99;
        position: fixed;
    }
    .style_logo {
        width: 140px;
        height: 80px;
        margin-left: -20px;
    }
}

@media (max-width: 430px) {
    .nav__logo {
        z-index: 99;
        position: fixed;
    }
    .style_logo {
        width: 140px;
        height: 80px;
        margin-left: -20px;
    }
}

@media (max-width: 414px) {
    .style_logo {
        width: 140px;
        height: 80px;
        margin-left: -20px;
    }
    .nav__logo {
        z-index: 1000;
        position: fixed;
    }
}

@media (max-width: 375px) {
    .style_logo {
        width: 140px;
        height: 80px;
        margin-left: -20px;
    }
}