.container {
    width: 100%;
    color: white
}
.h1, .h2, .h3 {
    color: #FFF;
    font-style: normal;
    font-size: 89.35px;
    font-weight: 600;
}

.h2 {
    margin-top: -70px;
}

.h3 {
    margin-top: -80px;
}

.textBlock {
    width: 840px;
    height: 311px;
    margin-left: 335px;
    margin-top: 175px;
}

.image {
    position: absolute;
    top: 505px;
    left: 320px;
    width: 250px;
}
.text {
    line-height: 25px;
    font-size: 21px;
    font-weight: 400;
}
.container_text {
    position: absolute;
    margin-top: -70px;
}
.button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 38px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: custom-font;

    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    width: 409px;
    height: 64px;
}
.button:hover {
    background-color: transparent;
    color: turquoise;
    border: 2px solid black
}

.hand_one {
    position: absolute;
    top: 100px;
    right: -480px;
    width: 900px;
    z-index: -1;

}

.hand_two {
    position: absolute;
    /*bottom: -466px;*/
    bottom: -850px;
    right: 300px;
    width: 400px;
    z-index: -1
}

@media (max-width: 480px) {
    .hand_one {
        display: none;
    }
    .hand_two {
        display: none;
    }
    .textBlock {
        width: 252px;
        height: 95px;
        margin-left: 20px;
        margin-top: 120px;
    }
    .h1, .h2, .h3 {
        color: #FFF;
        font-style: normal;
        font-size: 35px;
        font-weight: 400;
        margin-left: 92px;
    }
    .container_text {
        position: absolute;
        margin-top: 130px;
    }
    .h2 {
        margin-top: -20px;
    }
    .h3 {
        margin-top: -30px;
    }
    .button {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        width: 267px;
        height: 48px;
        margin-top: 170px;
        margin-left: 100px;
        border-radius: 38px;
        border-color: black;
    }
    .image {
        position: absolute;
        top: 301px;
        left: 103px;
        width: 100px;
    }
    .container_text {
        margin-top: 20px;
        width: 270px;
        left: 128px;
    }
    .text {
        line-height: 16px;
        font-size: 14px;
        font-weight: 400;
    }
}

@media (max-width: 430px) {
    .hand_one {
        display: none;
    }
    .hand_two {
        display: none;
    }
    .textBlock {
        width: 252px;
        height: 95px;
        margin-left: 20px;
        margin-top: 120px;
    }
    .h1, .h2, .h3 {
        color: #FFF;
        font-style: normal;
        font-size: 35px;
        font-weight: 400;
        margin-left: 92px;
    }
    .container_text {
        position: absolute;
        margin-top: 130px;
    }
    .h2 {
        margin-top: -20px;
    }
    .h3 {
        margin-top: -30px;
    }
    .button {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        width: 267px;
        height: 48px;
        margin-top: 170px;
        margin-left: 100px;
        border-radius: 38px;
        border-color: black;
    }
    .image {
        position: absolute;
        top: 301px;
        left: 103px;
        width: 100px;
    }
    .container_text {
        margin-top: 20px;
        width: 270px;
        left: 128px;
    }
    .text {
        line-height: 16px;
        font-size: 14px;
        font-weight: 400;
    }
}

@media (max-width: 414px) {
    .hand_one {
        display: none;
    }
    .hand_two {
        display: none;
    }
    .textBlock {
        width: 252px;
        height: 95px;
        margin-left: 20px;
        margin-top: 120px;
    }
    .h1, .h2, .h3 {
        color: #FFF;
        font-style: normal;
        font-size: 35px;
        font-weight: 400;
        margin-left: 85px;
    }
    .container_text {
        position: absolute;
        margin-top: 130px;
    }
    .h2 {
        margin-top: -35px;
    }
    .h3 {
        margin-top: -35px;
    }
    .button {
        font-weight: 400;
        font-size: 17px;
        line-height: 19px;
        width: 310px;
        height: 60px;
        margin-top: 170px;
        margin-left: 70px;
    }
    .image {
        position: absolute;
        top: 283px;
        left: 96px;
        width: 100px;
    }
    .container_text {
        margin-top: 20px;
        width: 270px;
        left: 110px;
    }
    .text {
        line-height: 16px;
        font-size: 14px;
        font-weight: 400;
    }
}

@media (max-width: 390px) {
    .textBlock {
        width: 400px;
        height: 95px;
        margin-left: -20px;
        margin-top: 120px;
    }
    .container_text {
        left: 100px;
    }
    .h1, .h2, .h3 {
        color: #FFF;
        font-style: normal;
        font-size: 38px;
        font-weight: 400;
        margin-left: 85px;
    }
    .text {
        line-height: 20px;
        font-size: 18px;
        font-weight: 400;
    }
    .container_text {
        margin-top: 20px;
        width: 380px;
        left: 70px;
    }
    .button {
        margin-left: 88px;
    }
    .image {
        top: 295px;
        left: 65px;
    }
}

@media (max-width: 375px) {
    .hand_one {
        display: none;
    }
    .hand_two {
        display: none;
    }
    .textBlock {
        width: 252px;
        height: 95px;
        margin-left: 20px;
        margin-top: 120px;
    }
    .h1, .h2, .h3 {
        color: #FFF;
        font-style: normal;
        font-size: 25px;
        font-weight: 400;
        margin-left: 56px;
    }
    .container_text {
        position: absolute;
        margin-top: 130px;
    }
    .h2 {
        margin-top: -20px;
    }
    .h3 {
        margin-top: -15px;
    }
    .button {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        width: 267px;
        height: 48px;
        margin-top: 170px;
        margin-left: 70px;
        border-radius: 38px;
        border-color: black;
    }
    .image {
        position: absolute;
        top: 293px;
        left: 83px;
        width: 85px;
    }
    .container_text {
        margin-top: 20px;
        width: 270px;
        left: 98px;
    }
    .text {
        line-height: 16px;
        font-size: 14px;
        font-weight: 400;
    }
    .h1, .h2, .h3 {
        font-size: 30px;
        margin-left: 70px;
    }
}